.tgLargeTitle {
  font-size: 34px;
  margin: 0;
}

.tgLargeTitle--android {
  line-height: 40px;
}

.tgLargeTitle--ios {
  line-height: 41px;
}

.tgLargeTitle--w-1 {
  font-weight: 600;
}

.tgLargeTitle--w-2 {
  font-weight: 500;
}

.tgLargeTitle--w-3 {
  font-weight: 400;
}
